<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plantdiseasedetection">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hhaloemain_foreground"
        android:label="Haloe?"
        android:roundIcon="@mipmap/hhaloemain"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantDiseaseDetection">
        <activity android:name=".mdSoln"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".healthySoln"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".scabSoln"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".rustSoln"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>